$base-color: #2f2a8d;
$white: #ffffff;
$light-gray: #cfd0d1;
$font-gray: #2d2d2d;
$background-gray: #f7f9fa;
$form-background-gray: #f3f5f6;
$active-gray: #dfe7ed;
$disabled-gray: #eceeef;
$orange: #fda329;
$light-orange: #fffaf1;
$outline-blue: #4d90fe;
$dark-blue: #272279;
